@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Funnel';
  src: url('/fonts/Funnel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Force Dark Theme */
:root {
  --background: #0a0a0a;  /* Permanent dark background */
  --foreground: #ededed;  /* Light text for contrast */
}

/* Apply Colors to Body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Funnel", Arial, Helvetica, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

